$blue-primary: rgb(29, 155, 240);

.tweet-modal-content {
  margin: 3rem auto !important;
  width: 37rem;
  min-height: 15rem;
  height: fit-content;
  max-height: 90vh;
  gap: 10px;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: unset;

  #closebutton {
    border-radius: 9999px;
    top: 5px;
    left: 7px;
    padding: 7px;

    &:hover {
      background-color: rgba(231, 233, 234, 0.1);
    }
  }

  .tweet-container {
    margin-top: 3.5rem;
  }
}
