$blue-primary: rgb(29, 155, 240);

.tweet-modal-content {
  margin: 3rem auto !important;
  width: 37rem;
  min-height: 15rem;
  height: fit-content;
  max-height: 90vh;
  gap: 10px;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: unset;

  #closebutton {
    border-radius: 9999px;
    top: 5%;
    left: 1.5%;
    padding: 7px;

    &:hover {
      background-color: rgba(231, 233, 234, 0.1);
    }
  }

  .tweet-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.7rem;
    margin-top: 2.5rem;

    .profile-picture {
      width: 40px;
      height: 40px;
      border: 1px solid #333;
      border-radius: 100%;
    }

    form {
      display: flex;
      flex: 1;
    }

    textarea {
      margin-top: 25px;
      width: 100%;
      font-family: inherit;
      background-color: transparent;
      color: inherit;
      border: none;
      padding: 0;
      font-size: 1.3rem;
      resize: none;
      outline: transparent;
    }
  }

  .tweet-tools-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .tweet-tools {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-icons {
        display: flex;

        button {
          background-color: transparent;
          padding: 10px;
          border-radius: 9999px;

          &:hover {
            background-color: rgba(231, 233, 234, 0.1);
          }

          svg {
            fill: $blue-primary;
            width: 1.25rem;
            height: auto;
          }
        }
      }
    }
  }

  hr {
    border: none;
    height: 1px;
    background-color: #333;
  }

  button {
    width: fit-content;
    padding: 10px 20px;
  }
}
