$footer-color: rgb(113, 118, 123);
$blue-primary: rgb(29, 155, 240);
$dark-gray: rgb(51, 54, 57);
$hover-color: rgba(231, 233, 234, 0.1);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: black;
  color: white;
  scrollbar-color: $footer-color $dark-gray;
  scrollbar-width: thin;
}

.xicon {
  fill: white;

  &.small {
    width: 25px;
  }
}

.index-icon {
  width: 350px;
  height: auto;
}

.loading-icon {
  width: 100px;
  height: auto;
}

.index-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0px 50px;
  gap: 1rem;

  footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 20px;

    li {
      padding: 5px 10px;
      a {
        color: $footer-color;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.index-main {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  flex: 1;

  &-right {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 4rem;

    h1 {
      font-size: 4rem;
      font-weight: 900;
    }

    .jointoday,
    .index-existingaccount {
      width: 60%;
    }
  }
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px 45px;
  border: none;
  width: 100%;
  border-radius: 9999px;
  font-weight: bold;
  font-size: 0.9rem;
  cursor: pointer;

  &:hover {
    background-image: linear-gradient(rgb(0 0 0/5%) 0 0);
  }
}

.jointoday {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;

  h2 {
    font-size: 2.2rem;
  }

  &-signup {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.signup-terms {
  color: $footer-color;
  font-size: 0.8rem;

  a {
    color: $blue-primary;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.index-existingaccount {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-top: 1px solid $dark-gray;
}

.button-icon {
  height: 20px;
  width: auto;
}

.signin-container {
  display: flex;
  flex-direction: column;
  width: 65%;
  flex: 1;
  gap: 2rem;

  h2 {
    font-size: 2.2rem;
  }

  .signin-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &.second {
      button {
        margin-top: 12rem;
        font-size: 1.1rem;
      }
    }
  }
}

.createaccount-container {
  display: flex;
  flex-direction: column;
  width: 75%;
  gap: 2rem;

  form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    p {
      margin-top: 5px;
      line-height: 1;
    }
  }

  button {
    padding: 15px 0;
    font-size: 1.2rem;
  }

  .birthday-container {
    width: 100%;
    display: flex;
    gap: 1rem;
    align-self: center;
    margin-bottom: 3rem;

    .fieldholder {
      select {
        width: 100%;
        padding-top: 20px;
      }

      &:first-child {
        flex: 2;
      }

      &:not(:first-child) {
        flex: 1;
      }

      label {
        top: -15px;
        left: 5px;
        font-size: 0.8rem;
      }
    }
  }

  .atsymbol {
    opacity: 0;
    position: absolute;
    bottom: 26%;
    left: 5px;
    transition: all 0.3s ease;
  }

  #username {
    padding-left: 5%;
  }
}

select {
  height: 50px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  border-radius: 5px;
  border: 1px solid $dark-gray;
  outline: none;
  font-size: 1.05rem;

  option {
    background-color: black;
    color: white;
    font-size: inherit;
  }

  &:focus {
    border: 1px solid $blue-primary;

    + label {
      color: $blue-primary;
    }
  }
}

.nav-icon {
  filter: invert(100%);
  width: 1.75rem;
  height: auto;
}

.pagecontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  min-height: 100vh;
}

nav {
  display: flex;
  flex: 1;
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    li {
      border-radius: 9999px;
      a {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 10px;
        font-size: 1.25rem;
        text-decoration: none;
        color: inherit;

        span {
          padding-bottom: 5px;
        }
      }

      &:hover {
        background-color: $hover-color;
      }
    }
  }
}

header {
  justify-self: end;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  max-height: 100vh;
  overflow: auto;
  position: sticky;
  padding: 10px 0;
  top: 0;

  .xicon-home {
    width: fit-content;
    padding: 10px;
    border-radius: 9999px;

    &:hover {
      background-color: $hover-color;
    }
  }

  button {
    font-size: 1rem;
    padding: 15px;
    width: 100%;
  }

  .header-top {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 3rem;
  }
}

.loading {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-main {
  justify-self: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid $dark-gray;

  .home-buttoncontainer {
    display: flex;
    border-bottom: 1px solid $dark-gray;

    button {
      flex: 1;
      border-radius: 0;
      padding: unset;
      background-color: transparent;

      p {
        color: $footer-color;
        font-weight: normal;
        height: 100%;
        padding: 20px 0;
        position: relative;
      }

      &.active {
        p {
          color: white;
          font-weight: bold;

          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: $blue-primary;
          }
        }
      }

      &:hover {
        background-color: rgb(13, 13, 13);
      }
    }
  }
}

.header-profile {
  display: flex;
  margin: 16px 0;
  background-color: transparent;
  color: inherit;
  align-items: center;
  border-radius: 9999px;
  padding: 10px;
  cursor: pointer;
  justify-content: space-between;

  &:hover {
    background-color: $hover-color;
  }

  &-left {
    display: flex;
    gap: 10px;

    .picture {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      border: 1px solid $dark-gray;
    }

    .profile-info {
      display: flex;
      flex-direction: column;
      gap: 5px;
      justify-content: center;
      align-items: start;

      p {
        font-weight: normal;
        font-size: 0.85rem;
        color: $footer-color;
      }
    }
  }

  .nav-icon {
    width: 1.25rem;
  }
}

.popover-container {
  background-color: black;
  border: 1px solid $dark-gray;
  border-radius: 10px;
  width: 15rem;
  padding: 10px 0;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 15px,
    rgba(255, 255, 255, 0.15) 0px 0px 3px 1px;

  button {
    background-color: transparent;
    border-radius: 0;
    padding: 12px 16px;
    color: inherit;
    display: flex;
    justify-content: start;

    &:hover {
      background-color: $hover-color;
    }
  }
}

.spinner {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.post-container {
  display: flex;
  flex-direction: column;
}

.post {
  padding: 10px;
  width: 100%;
  border-bottom: 2px solid $dark-gray;
}

.tweet-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.7rem;

  .profile-picture {
    width: 40px;
    height: 40px;
    border: 1px solid #333;
    border-radius: 100%;
  }

  form {
    display: flex;
    flex: 1;
  }

  textarea {
    margin-top: 25px;
    width: 100%;
    font-family: inherit;
    background-color: transparent;
    color: inherit;
    border: none;
    padding: 0;
    font-size: 1.3rem;
    resize: none;
    outline: transparent;
  }
}

.tweet-tools-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .tweet-tools {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      width: fit-content;
      padding: 10px 20px;
    }

    &-icons {
      display: flex;

      button {
        background-color: transparent;
        padding: 10px;
        border-radius: 9999px;

        &:hover {
          background-color: rgba(231, 233, 234, 0.1);
        }

        svg {
          fill: $blue-primary;
          width: 1.25rem;
          height: auto;
        }
      }
    }
  }
}

hr {
  border: none;
  height: 1px;
  background-color: #333;
}

.home-formcontainer {
  padding: 0 15px 10px;
}
