$footer-color: rgb(113, 118, 123);
$blue-primary: rgb(29, 155, 240);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: black;
  color: white;
}

#xicon {
  filter: invert(100%);
}

.index-icon {
  width: 370px;
  height: auto;
}

.index-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0px 50px;

  footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 20px;

    li {
      padding: 5px 10px;
      a {
        color: $footer-color;
        text-decoration: none;
      }
    }
  }
}

.index-main {
  display: flex;
  justify-content: space-around;
  flex: 1;

  &-right {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 5rem;

    h1 {
      font-size: 4rem;
      font-weight: 900;
    }
  }
}

button {
  padding: 10px 45px;
  border-radius: 9999px;
  cursor: pointer;
}

.jointoday {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &-signup {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-top: 1px solid $footer-color;
}
